// Descriptive Colors
$white: #ffffff;
$blue: #3f51b5;
$red: #dc143c;
$light-red: #e91e63;
$grey: #bbbbbb;
$light-grey: #eeeeee;
$orange: rgb(255, 152, 0);

// Functional Colors
$primary--color: $blue;
$secondary--color: $white;
