:host {
  display: block;
}
.product-item {
  display: flex;
  justify-content: space-between;
}
.movie-card-content {
  display: flex; margin-top: 10px; padding: 10px
}
.arrow_back_button{
  cursor: pointer;
}
